<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
     
<body>

     <!-- Header Section -->
     <%- include('./partials/header.ejs') %>
     <%- include('./partials/nav.ejs') %>

    <div class="form-story-container">
        <h2>Submit an Article</h2>
        <form action="/submit-article" method="POST" class="form-story">

            <label for="title" aria-label="Article Title" class="label-story">Title</label>
            <input type="text" id="title" name="title" class="input-story" required>

            <label for="description" aria-label="Article Description" class="label-story">Description</label>
            <textarea class="textarea-story" id="description" name="description" rows="3" required></textarea>

            <label for="content" aria-label="Article Content" class="label-story">Content</label>
            <textarea class="textarea-story" id="content" name="content" rows="5" required></textarea>

            <label for="image_url" aria-label="Image URL" class="label-story">Image URL</label>
            <input class="input-story" type="url" id="image_url" name="image_url" pattern="https?://.*\.(jpg|jpeg|png|gif)" title="Please enter a valid image URL (e.g., https://example.com/image.jpg)">

            <label for="category" aria-label="Article Category" class="label-story">Category</label>
            <select class="select-story" id="category" name="category">
                <option value="News">News</option>
                <option value="Opinion">Opinion</option>
                <option value="Technology">Technology</option>
                <option value="Lifestyle">Lifestyle</option>
            </select>

            <label for="email" aria-label="Author Email" class="label-story">Author Email</label>
            <input type="email" id="email" name="email" class="input-story" required>

            <label for="published_at" aria-label="Published Date" class="label-story">Published Date</label>
            <input class="input-story" type="date" id="published_at" name="published_at" value="<%= new Date().toISOString().split('T')[0] %>">

            <button class="button-story" type="submit" aria-label="Submit the article">Submit Article</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>